.root {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 130px;
  align-items: center;
  padding-bottom: 100px;
}

.leftColumn {
  display: grid;
	align-content: space-between;
	gap: 40px;
}

.title {
  margin: 0 0 15px;
  font-size: 48px;
}

.params {
  margin: 0 0 15px;
  font-size: 20px;
  color: #828282;
}

.composition {
	margin: 0;
  font-size: 20px;
	line-height: 1.3;
}

.settings {
  display: grid;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;

  .button {
    flex-grow: 1;
  }
}
